* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.bg-color {
  background-color: #f3efed !important;
}

.fixed-width {
  max-width: 1200px !important;
  width: 100%;
  height: 100%;
}

.bg-main-color,
.bgMainColor {
  background-color: #fff !important;
}

.fixed {
  position: fixed !important;
}

.sp-articles-left-fixed {
  position: fixed;
  bottom: 10%;
  background-color: #998377;
}

.logo--wrap--amazon {
  width: 200px;
}

.logo--amazon {
  width: 100%;
  pointer-events: auto;
  cursor: pointer !important;
}

.prevent-item {
  pointer-events: auto;
}

.book-width {
  width: 600px;
}

.article-title,
.comment-title,
.comment-contents,
.articleTitle,
.mypage-border,
.likeUsers-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.siginIn-border-top,
.signUp-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.pointer {
  cursor: pointer;
}

.contents:hover,
.forget-pw:hover,
.logo--amazon:hover {
  opacity: 0.8;
}

.hover-blue:hover {
  color: #217BD4;
}

.hover-line:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .sp-user-name,
  .sp-time,
  .sp-tab {
    font-size: 12px !important;
  }
  .book-width, .sp-tabs-width {
    width: 100%;
  }
}

.comment-item {
  display: block !important;
}

.app-bar {
  background: linear-gradient(-135deg, #9a8478, #1e130c);
}

.logo {
  margin-bottom: 0 !important;
  font-size: 22px;
  width: 180px !important;
  cursor: pointer;
}

.menu,
.news,
.comment-edit {
  position: relative;
}

.menu--list {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.news--list {
  position: absolute;
  top: 1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer-card {
  width: 100%;
}

.left-menu
.right-menu {
  width: 180px;
}

.sm-twitter {
  text-align: right;
}

.sm-category {
  width: 60%;
}

.contents {
  position: relative;
  cursor: pointer;
  border-radius: 5% !important;
}

.contents--inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
}

.twitter {
  width: 100%;
}

.left-menu-fixed {
  position: fixed !important;
  overflow: auto;
  height: 65vh;
}

.wrap-text {
  word-break: break-all;
  white-space: normal;
}

.verify-title {
  background-color: #9a8478;
}

.book-count-width {
  width: 500px;
}

.how-to-create, .twitterURL {
  text-decoration: none;
}

.create-border {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.public-btn {
  position: fixed !important;
  top: 15%;
  right: 3%;
  z-index: 10;
}

.left-create,
.right-create {
  width: 50%;
  height: 90vh;
  overflow: auto;
}

.create-field-small {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

@media screen and (max-width: 480px) {
  .create-border {
    border-left: none;
  }
  .left-create,
  .right-create {
    width: 100%;
    height: auto;
    overflow: none;
  }
  .public-btn {
    top: 90%;
    right: 5%;
  }
}

.how-to-create {
  text-decoration: none;
}

.create-border {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.public-btn {
  position: fixed;
  top: 15%;
  right: 5%;
  z-index: 10;
}

.left-create,
.right-create {
  width: 50%;
  height: 90vh;
  overflow: auto;
}

.create-field-small {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

@media screen and (max-width: 480px) {
  .create-border {
    border-left: none;
  }
  .left-create,
  .right-create {
    width: 100%;
    height: auto;
    overflow: none;
  }
  .public-btn {
    top: 90%;
    right: 5%;
  }
}

.comment-edit {
  position: absolute;
  top: 0;
  left: 0;
}

.mypage-width {
  width: 80%;
}

.avatar-size {
  width: 72px !important;
  height: 72px !important;
}

.follow-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.follower-color {
  color: #5f9ea0;
}

.follow-number {
  width: 80% !important;
}

@media screen and (max-width: 480px) {
  .mypage-width {
    width: 100%;
  }
  .avatar-size {
    width: 36px !important;
    height: 36px !important;
  }
}

.likeUsers {
  display: inline-block;
}
/*# sourceMappingURL=common.css.map */